<div class="site-markets grid-col grid-col-7">
<div class="site-markers">
  <h2>Vendors<a href="/vendors/new">(+)</a></h2>
  {{#each vendors}}
    <div class=market-item>
      <ul>
        <a href="/vendors/{{id}}">
        <li><h2>{{name}}</a></h2></li>
        <li>{{addressStreet}}, {{addressCity}}, {{addressState}} {{addressZip}}</li>
        <li><a href="{{websiteUrl}}">{{websiteName}}</a></li>
        <li>{{phone}}</li>
        <li>{{product}}</li>
      </ul>
      </div>
  {{/each}}
</div>
</div>
