<div class="vendor-site-list-page">
{{message}}
<h1>{{market.name}}</h1>
<ul>
<li>{{vendor.name}}</h2></li>
<li>{{vendor.addressStreet}}</li>
<li>{{vendor.addressCity}}</li>
<li>{{vendor.addressState}}</li>
<li>{{vendor.addressZip}}</li>
<li>{{vendor.product}}</li>
<li>{{vendor.email}}</li>
<li>{{vendor.websiteUrl}}</li>
<li>{{vendor.phone}}</li>
<li>{{vendor.mapUrl}}</li>
<li>{{vendor.paymentCard}}</li>
<li>{{vendor.paymentCash}}</li>
<li>{{vendor.paymentOther}}</li>
<li>{{vendor.paymentSnap}}</li>
<li>{{vendor.photoUrl}}</li>
<li>{{vendor.facebookUrl}}</li>
<li>{{vendor.twitterUrl}}<li>

<ul>
  {{#each markets}}
  <li>
    <a href="/markets/{{id}}">
      {{name}}
      {{addressZip}}
    </a>
  </li>
  {{/each}}
</ul>
